<extend name="./Public/home/index.html"/>
<block name="onecss">
    <link href="__PUBLIC__/home/css/news.css" rel="stylesheet" type="text/css">
</block>
<block name="main">
    <include file="Public/banner" />
    <section class="news-detail">
        <article class="container-box">
            <div class="content">
                <div class="title">{$rsshow['title']}</div>
                <div class="time">{$rsshow['addtime']|strtotime|date='Y年m月d日',###}</div>
                <div class="detail-content">{$rsshow['content']}</div>
        </article>
    </section>
    <style type="text/css">
        .container-box:after{
            top: 0;
        }
    </style>
</block>