@charset "utf-8";

html,body{ margin:0; padding:0;
    font-family:黑体, "Microsoft Yahei", "Helvetica Neue", Helvetica, Tahoma, sans-serif;
    /*font-family: "microsoft yahei",STHeiti,"黑体","宋体",sans-serif;*/
    background: #FFF;
    font-size:14px;
    color:#999;
}
@font-face {
    font-family: 'iconfont';  /* project id 650184 */
    src: url('http://at.alicdn.com/t/font_650184_i64ztwi9rbr.eot');
    src: url('http://at.alicdn.com/t/font_650184_i64ztwi9rbr.eot?#iefix') format('embedded-opentype'),
    url('http://at.alicdn.com/t/font_650184_i64ztwi9rbr.woff') format('woff'),
    url('http://at.alicdn.com/t/font_650184_i64ztwi9rbr.ttf') format('truetype'),
    url('http://at.alicdn.com/t/font_650184_i64ztwi9rbr.svg#iconfont') format('svg');
}
@font-face {
    font-family: Langdon;
    src: url(../font/Langdon.otf);
}
.bg-red{
    background: #F34443 !important;
}
.lan{
    font-family: Langdon;
}
.container-box{
    width: 87.5%;
    position: relative;
    margin: 0 auto;
    height: 100%;
    border-left: 1px solid #EBEBEB;
}
.container-box:after{
    position: absolute;
    width: 7.14285%;
    /*height: 100%;*/
    right:-7.14285%;
    top: 0;
    bottom: 0;
    background: #F0F0F0;
    content: "";
}
/*.case-box .container-box:after{
    top: 0;
}
.child-banner .container-box:after{
    top: 0;
}*/
.icon{
   font-family:'iconfont';	
}
.center-box{
    padding: 0 10px;
}
input[type=color], input[type=date], input[type=datetime-local], input[type=datetime], input[type=email], input[type=month], input[type=number], input[type=password], input[type=search], input[type=tel], input[type=text], input[type=time], input[type=url], input[type=week], select, textarea{
    height: auto;
    margin: 0;
    padding: 0;
    border: 0;
    border-radius: 0;
    font-size: 1rem;
}
.w100{
    width: 100% !important;
}
sub{
    bottom:0 !important;
    font-size: 100%;
}
i{
	font-style:normal;
    font-family:"微软雅黑";
}
p{margin:0 !important}
.bok{ display:block; }
div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,input,form,textarea{
	margin:0;
	padding:0;
}
ol,ul,li{
	list-style:none;
}
.block{
	display:block;
}
a{
	text-decoration:none !important;
}
label{
    font-weight: normal;
}
img{
	border:none;
	margin:0 auto;
}
.clearfix{
	clear:both;
}
.over{
    overflow: hidden;
    position: relative;
}
input ,textarea{
    -webkit-appearance: none;
    box-shadow: none;
}
.bg-bc{
    background: #222 !important;
}
.row{
    margin: 0 -5px;
}
.row .col-xs-6{
    padding: 0 5px ;
}
.row .col-xs-4{
    padding: 0 5px ;
}
.in-line{display:inline-block;}

.ellip{
   white-space:nowrap;
   text-overflow:ellipsis;
   -webkit-text-overflow:ellipsis;
   overflow:hidden;
}

.f-s{
	font-size:0.857rem;
}
.f-m{
	font-size:1rem;
}
.f-b{
	font-size:1.143rem;
}

.float-l{
	float:left;
}
.float-r{
	float:right;
}
.center{
	text-align:center;
}

.pos-re{
	position:relative;
}
.pos-ab{
	position:absolute;
}
.pos-st{position:static !important;}

.bg-wh{
	background:#fff;
}
.bg-bl{
	background:#000;
}
.co-whilte{
	color:#fff;
}
.co-red{
    color:#ED1F23;
}
.co-black{
	color:#000;
}
.co-pink{
    color:#F04146 !important;
}
.co-gray{
    color:#999 !important;
}
.co-deep-gray{
    color: #DADADA !important;
}
.f-eng{

}
.mar-t-100{
    margin-top: 140px;
}
.mar-b-fix{
    margin-bottom: 70px;
}

/*margin padding*/
.nmg{
	margin:0 !important;
}
.nmg-t{
    margin-top: 0 !important;
}
.npd{
	padding:0 !important;
}
[class*='col'].npd-r{
	padding-right:0;
}
[class*='col'].npd-l{padding-left:0;}
[class*='col'].npd{padding:0 !important;}

.mar{ margin-top:20px !important; margin-left:20px !important; margin-bottom:20px !important; margin-right:20px !important; }.mar-md{ margin-top:15px !important; margin-left:15px !important; margin-bottom:15px !important; margin-right:15px !important; }.mar-sm{ margin-top:10px !important; margin-left:10px !important; margin-bottom:10px !important; margin-right:10px !important; }.mar-xs{ margin-top:5px !important; margin-left:5px !important; margin-bottom:5px !important; margin-right:5px !important; }.mar-t{ margin-top:20px !important; }.mar-t-md{ margin-top:15px !important; }.mar-t-sm{ margin-top:10px !important; }
.mar-t-xs{ margin-top:5px !important; }.mar-t-xxs{ margin-top:3px !important; }.mar-t-xxxs{ margin-top:1px !important; }.mar-l{ margin-left:20px !important; }.mar-l-md{ margin-left:15px !important; }.mar-l-sm{ margin-left:10px !important; }.mar-l-xs{ margin-left:5px !important; }.mar-b{ margin-bottom:20px !important; }.mar-b-md{ margin-bottom:15px !important; }.mar-b-sm{ margin-bottom:10px !important; }.mar-b-xs{ margin-bottom:5px !important; }.mar-r{ margin-right:20px !important; }.mar-r-md{ margin-right:15px !important; }.mar-r-sm{ margin-right:10px !important; }.mar-r-xs{ margin-right:5px !important; }.mar-h{ margin-left:20px !important; margin-right:20px !important; }.mar-h-md{ margin-left:15px !important; margin-right:15px !important; }.mar-h-sm{ margin-left:10px !important; margin-right:10px !important; }.mar-h-xs{ margin-left:5px !important; margin-right:5px !important; }.mar-v{ margin-top:20px !important; margin-bottom:20px !important; }.mar-v-md{ margin-top:15px !important; margin-bottom:15px !important; }.mar-v-sm{ margin-top:10px !important; margin-bottom:10px !important; }.mar-v-xs{ margin-top:5px !important; margin-bottom:5px !important; }.x-mar-b-xs{ margin-bottom:-2px !important; }.xx-mar-t-xs{ margin-top:-1px !important; }.xx-mar-t-xxs{ margin-top:-6px !important; }

.min-mar-h-lg{ margin-left:-20px !important; margin-right:-20px !important; }

.pad{ padding-top:20px !important; padding-left:20px !important; padding-bottom:20px !important; padding-right:20px !important; }.pad-md{ padding-top:15px !important; padding-left:15px !important; padding-bottom:15px !important; padding-right:15px !important; }.pad-sm{ padding-top:10px !important; padding-left:10px !important; padding-bottom:10px !important; padding-right:10px !important; }.pad-xs{ padding-top:5px !important; padding-left:5px !important; padding-bottom:5px !important; padding-right:5px !important; }.pad-t{ padding-top:20px !important; }.pad-t-md{ padding-top:15px !important; }
.pad-t-sm{ padding-top:10px !important; }.pad-t-xs{ padding-top:5px !important; }.pad-t-xxs{ padding-top:3px !important; }.pad-l{ padding-left:20px !important; }.pad-l-md{ padding-left:15px !important; }.pad-l-sm{ padding-left:10px !important; }.pad-l-xs{ padding-left:5px !important; }.pad-b{ padding-bottom:20px !important; }.pad-b-md{ padding-bottom:15px !important; }.pad-b-sm{ padding-bottom:10px !important; }.pad-b-xs{ padding-bottom:5px !important; }.pad-r{ padding-right:20px !important; }.pad-r-md{ padding-right:15px !important; }.pad-r-sm{ padding-right:10px !important; }.pad-r-xs{ padding-right:5px !important; }.pad-h{ padding-left:20px !important; padding-right:20px !important; }.pad-h-md{ padding-left:15px !important; padding-right:15px !important; }.pad-h-sm{ padding-left:10px !important; padding-right:10px !important; }.pad-h-xs{ padding-left:5px !important; padding-right:5px !important; }.pad-v{ padding-top:20px !important; padding-bottom:20px !important; }.pad-v-lg{padding-top:30px !important; padding-bottom:30px !important;}pad-v-md{ padding-top:15px !important; padding-bottom:15px !important; }.pad-v-sm{ padding-top:10px !important; padding-bottom:10px !important; }.pad-v-xs{ padding-top:5px !important; padding-bottom:5px !important; }
.mar-btm-fix{
    margin-bottom: 61px;
}

 .bg-ef{
     background: #EFEFEF;
 }
 
 
.ipn,.wd-btn,.btn{
   border:none;
   outline:none;
   box-shadow:none;
   resize: none;
}
.ipn:focus,.wd-btn:focus,.btn:focus{ outline:none; box-shadow:none; border:none; }
.ipn.pn{ padding-left:0; padding-right:0; }
.btn.btn-ipn,.btn.btn-ipn:hover,.btn.btn-ipn:focus,.btn.btn-ipn:active,.btn.btn-ipn:active:focus{ border:none; outline:none; background-color:transparent; box-shadow:none; }
 
.row.emp{
   margin-left:0;
   margin-right:0;	
}
.row.emp [class*='col']{
   padding-left:0;
   padding-right:0;	
}
.row.xs{
   margin-left:-5px;
   margin-right:-5px;
}
.row.xs [class*='col']{
   padding-left:5px;
   padding-right:5px;
}
.row.sm{
   margin-left:-10px;
   margin-right:-10px;
}
.row.sm [class*='col']{
   padding-left:10px;
   padding-right:10px;	
}

.exh-sch-box [class*='col']+[class*='col']{ border-left:1px #D6D6D6 solid; }



.servicePopup{
    width:650px;
    height:340px;
    padding:10px;
    background-color:rgba(220,33,36,.9);
    color:#fff;
    text-align:center;
    position:fixed;
    left:50%;
    top:50%;
    z-index:10000;
    -webkit-transition:.6s all;
    transition:.6s all;
    -webkit-transform:translate3d(-50%,-2000px,0);
    transform:translate3d(-50%,-2000px,0);
    -webkit-box-shadow:0 0 35px rgba(0,0,0,.25);-moz-box-shadow:0 0 15px rgba(0,0,0,.25);box-shadow:0 0 15px rgba(0,0,0,.25);

    font-family: "microsoft yahei",STHeiti,"黑体","宋体",sans-serif;
}

.servicePopup .cont{
    width:100%;
    height:100%;
    border:1px solid #fff;
}

.servicePopup .cont .title{
    font-size:30px;
    font-weight:bold;
    line-height:normal;
    margin-top:30px;
}

.servicePopup .cont .keywords{
    font-size:14px;
    color:rgba(255,255,255,.5);
    margin-top:20px;
    width:85%;
    margin-left:auto;
    margin-right:auto;
}

.servicePopup .cont .telphone{
    font-size:20px;
    color:rgba(255,255,255,.9);
    margin-top:20px;
    width:85%;
    margin-left:auto;
    margin-right:auto;
}

.servicePopup .cont .btns{
    margin-top:30px;
    width:560px;
    margin-left:auto;
    margin-right:auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.servicePopup .cont .btn{
    /*height:40px;
    line-height:38px;*/
    width:160px;
    text-align:center;
    font-size:18px;
    color:#fff;
    border:solid #fff 1px;
    border-radius:40px;
    display:block;
    -webkit-transition:250ms all;
    transition:250ms all;
    cursor:pointer;
}

.servicePopup .cont .closeBtn{
    opacity:.5;
}

.servicePopup .cont .closeBtn:hover{
    opacity:1;
}

.servicePopup .cont .serviceBtn{
    background-color:#fff;
    color:#dc2124;
}

.servicePopup .cont .serviceBtn:hover{
    background-color:rgba(255,255,255,.75);
}