<extend name="./Public/home/index.html"/>
<block name="onecss">
    <link href="__PUBLIC__/home/css/about.css" rel="stylesheet" type="text/css">
</block>
<block name="main">
    <section class="ban">
        <article class="container-box">
            <div class="text"></div>
        </article>
        <div id="stage">
            <div id="bg" class="" style="transform: translateX(-200px) translateY(300px) rotateZ(-60deg);">
                <div class="row1">
                    <div class="orb1"><div></div></div>
                    <div class="orb2"><div></div></div>
                    <div class="orb1c"><div></div></div>
                    <div class="orb2c"><div></div></div>
                </div>
                <div class="row2">
                    <div class="orb1"><div></div></div>
                    <div class="orb2"><div></div></div>
                    <div class="orb1c"><div></div></div>
                    <div class="orb2c"><div></div></div>
                </div>
                <div class="row3">
                    <div class="orb1"><div></div></div>
                    <div class="orb2"><div></div></div>
                    <div class="orb1c"><div></div></div>
                    <div class="orb2c"><div></div></div>
                </div>
                <div class="row1c">
                    <div class="orb1"><div></div></div>
                    <div class="orb2"><div></div></div>
                    <div class="orb1c"><div></div></div>
                    <div class="orb2c"><div></div></div>
                </div>
                <div class="row2c">
                    <div class="orb1"><div></div></div>
                    <div class="orb2"><div></div></div>
                    <div class="orb1c"><div></div></div>
                    <div class="orb2c"><div></div></div>
                </div>
                <div class="row3c">
                    <div class="orb1"><div></div></div>
                    <div class="orb2"><div></div></div>
                    <div class="orb1c"><div></div></div>
                    <div class="orb2c"><div></div></div>
                </div>
            </div>
        </div>
    </section>
    <section class="about-box clearfix">
        <video class="video-sign" loop="true" preload="load" muted="muted" width="100%" height="100%" src="__PUBLIC__/home/images/banner.mp4" autoplay></video>
        <article class="container-box">
            <aside class="left-box clearfix">
                <div class="item">
                    <div class="number-info">
                        <div class="number lan">98%</div>
                        <div class="com">回头客</div>
                    </div>

                </div>
                <div class="item">
                    <div class="number-info">
                        <div class="number lan">12</div>
                        <div class="com">年视觉设计经验</div>
                    </div>
                    <div class="image"><img src="__PUBLIC__/home/images/design_2.jpg" class="img-responsive"></div>
                </div>
                <div class="item">
                    <div class="number-info">
                        <div class="number lan">1695</div>
                        <div class="com">合作客户</div>
                    </div>
                    <div class="image"><img src="__PUBLIC__/home/images/design_1.jpg" class="img-responsive"></div>
                </div>
            </aside>
            <aside class="right-box">
                <div class="title">
                    <i class="icon top-icon">&#xea01;</i>
                    为中小型企业<br/>拥有自己的品牌文化、视觉形象而努力！
                    <i class="icon bottom-icon">&#xe63a;</i>
                </div>

                <div class="content">
                    <p>九五策划--安徽省内品牌服务提供商，是由安徽企业品牌研究发展中心的奠基人、中国知名品牌策划、中国法制日报(原)编辑记者、安徽企业网站联盟CEO何政先生于2008年9月5号挂牌成立。 九五策划的使命是”为中小型企业拥有自己的品牌文化、视觉形象而努力！”。要立本国文化为根本，观国际文化之潮流，聚全员之智，绘企业品牌蓝图！九五策划的’一统化’品牌服务技术结合”心”式服务理念，让我们累积了大量的客户资源并快速成为品牌策划行业的领跑者——目前已为1000家企业在品牌建设的道路上提供了精准、高效、全面的系统服务。</p>
                    <p>自公司成立以来，九五策划在人才战略上以全力培养高素质专业人才为企业核心竞争力，秉承以”才者,德之资也;德者,才之帅也”为指导思想，让每位九五伙 伴能想到、悟到并做到……与此同时和国内诸多知名大学建立人才推荐和就业合作关系，从而确保专业思维时刻与科学体系接轨。</p>
                </div>
            </aside>
        </article>
    </section>
    <section class="workWay">
        <article class="container-box">
            <div class="title">我们的工作方式如何?</div>
            <div class="way-list clearfix">
                <aside class="item">
                    <div class="t">策略 / Strategy</div>
                    <div class="com">以品牌营销策略为目标的用户分析、内容信息构建及落地方式。</div>
                </aside>
                <aside class="item">
                    <div class="t">体验 / Experience</div>
                    <div class="com">通过适合受众者的视觉设计方式来达到品牌与人之间的最佳用户体验。</div>
                </aside>
                <aside class="item">
                    <div class="t">技术 / Technology</div>
                    <div class="com">通过主流程序开发与前端H5技术融合，使程序框架能够快速稳定的运行。</div>
                </aside>
                <aside class="item">
                    <div class="t">落地 / Achieve</div>
                    <div class="com">整合主流的营销工具及平台进行投放，如搜索、社交媒体、媒介平台等。</div>
                </aside>
            </div>
        </article>
    </section>
    <section class="team-box clearfix">
        <article class="container-box">
            <div class="list clearfix">
                <aside class="intro-box">
                    <div class="title">
                        <div class="eng">Core Team</div>
                        <div class="cha"><span>核心</span>团队</div>
                    </div>
                    <div class="com">
                        九五以独特的企业文化及创意氛围吸引了来自全国各地的资深设计师、品牌策略顾问、资深广告创意人组成精英团队，在品牌规划，互联网推广，形象设计，广告创意的各个领域拥有丰富的实战经验。
                    </div>
                </aside>
                <!--#1-->
                <a class="item" href="javascript:void(0)">
                    <img src="__PUBLIC__/home/images/team-1.jpg" class="img-responsive">
                    <div class="cover trans">
                        <div class="content">
                            <div class="carrer">CEO</div>
                            <div class="name">何政</div>
                            <div class="line"></div>
                            <div class="com">
                                中国法制日报（原）编辑记者<br />九五策划CEO
                            </div>
                        </div>
                    </div>
                </a>
                <div class="item">
                    <img src="__PUBLIC__/home/images/expand.jpg" class="img-responsive">
                    <div class="expand-item trans">
                        <div class="main">
                            <div class="t trans">九五</div>
                            <div class="cont trans">
                                《九州生气恃风雷 ；五岳寻仙不辞远》
                                注：企业要发展就要不断学习和改进，重视并加强人才的培养和储备，取两句诗词的第一个字“九五”做为自己的名字，以此自勉！
                            </div>
                            <div class="keyWords trans">
                                <div class="tit">九五关键词：</div>
                                <div class="words">热情、创新、学习、诚信、微笑、家庭、努力、爱心、行动</div>
                            </div>
                            <!--<div class="require-btn trans">
                                <a href="##" class="in-line pull-left">进入招聘信息</a>
                            </div>-->
                        </div>
                    </div>
                </div>
                <!--#5 zhangminghui-->
                <a class="item" href="havascript:void(0)">
                    <img src="__PUBLIC__/home/images/team-18.jpg" class="img-responsive">
                    <div class="cover trans">
                        <div class="content">
                            <div class="carrer">Deputy general manager</div>
                            <div class="name">张明辉</div>
                            <div class="line"></div>
                            <div class="com">九五策划副总经理<br />行政部总负责人</div>
                        </div>
                    </div>
                </a>
                <!--#5-->
                <a class="item" href="havascript:void(0)">
                    <img src="__PUBLIC__/home/images/team-5.jpg" class="img-responsive">
                    <div class="cover trans">
                        <div class="content">
                            <div class="carrer">Deputy general manager</div>
                            <div class="name">黄战云</div>
                            <div class="line"></div>
                            <div class="com">九五九色鹿总经理<br>影视事业部总负责人<br>执行导演</div>
                        </div>
                    </div>
                </a>
                <!--#8-->
                <a class="item" href="havascript:void(0)">
                    <img src="__PUBLIC__/home/images/team-8.jpg" class="img-responsive">
                    <div class="cover trans">
                        <div class="content">
                            <div class="carrer">Chief financial officer</div>
                            <div class="name">刘雪萍</div>
                            <div class="line"></div>
                            <div class="com">九五策划财务总监</div>
                        </div>
                    </div>
                </a>
                <!--#8-->
                <a class="item" href="havascript:void(0)">
                    <img src="__PUBLIC__/home/images/team-0.jpg" class="img-responsive">
                    <div class="cover trans">
                        <div class="content">
                            <div class="carrer">Design Director</div>
                            <div class="name">谢雁飞</div>
                            <div class="line"></div>
                            <div class="com">创意总监</div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="list npd clearfix">

                <!--#13-->
                <a class="item" href="havascript:void(0)">
                    <img src="__PUBLIC__/home/images/team-13.jpg" class="img-responsive">
                    <div class="cover trans">
                        <div class="content">
                            <div class="carrer">Account Director</div>
                            <div class="name">骆意</div>
                            <div class="line"></div>
                            <div class="com">大客户经理</div>
                        </div>
                    </div>
                </a>
                <!--#6-->
                <a class="item" href="havascript:void(0)">
                    <img src="__PUBLIC__/home/images/team-6.jpg" class="img-responsive">
                    <div class="cover trans">
                        <div class="content">
                            <div class="carrer">Web Designer</div>
                            <div class="name">朱长江</div>
                            <div class="line"></div>
                            <div class="com">互动开发部总负责人<br />资深网页设计师</div>
                        </div>
                    </div>
                </a>

                <div class="item">
                    <img src="__PUBLIC__/home/images/expand.jpg" class="img-responsive">
                    <div class="expand-item bg-red trans">
                        <div class="main">
                            <div class="t">人才</div>
                            <div class="cont">
                                <div class="tit">我能大胆启用，为梦想提供停留的地方。 </div>
                                <div class="require-com">
                                    <p>在九五，衡量标准并不唯一。</p>
                                    <p>能力或可胜过学历，水平亦可超越文凭。</p>
                                    <p>对老员工心生感激，对新同事认真对待。</p>
                                    <p>把每一个九五人的梦想，当做自己的梦想去努力实现。</p>
                                    <p>不为鼓励，不为嘉奖，只为让所做之事存在价值。</p>
                                </div>
                            </div>
                            <div class="require-btn trans">
                                <!--<a href="##" class="in-line pull-left">进入招聘信息</a>-->
                            </div>
                        </div>
                    </div>
                </div>
                <!--#3-->
                <a class="item" href="havascript:void(0)">
                    <img src="__PUBLIC__/home/images/team-3.jpg" class="img-responsive">
                    <div class="cover trans">
                        <div class="content">
                            <div class="carrer">Senior Designer</div>
                            <div class="name">郭俊</div>
                            <div class="line"></div>
                            <div class="com">资深品牌视觉设计师</div>
                        </div>
                    </div>
                </a>
                <!--#4-->
                <a class="item" href="havascript:void(0)">
                    <img src="__PUBLIC__/home/images/team-4.jpg" class="img-responsive">
                    <div class="cover trans">
                        <div class="content">
                            <div class="carrer">Video Make</div>
                            <div class="name">黄剑云</div>
                            <div class="line"></div>
                            <div class="com">影视后期工程师</div>
                        </div>
                    </div>
                </a>
                <!--#2-->
                <a class="item" href="havascript:void(0)">
                    <img src="__PUBLIC__/home/images/team-2.jpg" class="img-responsive">
                    <div class="cover trans">
                        <div class="content">
                            <div class="carrer">Application Development</div>
                            <div class="name">童传兵</div>
                            <div class="line"></div>
                            <div class="com">资深互联网从业者<br />程序开发工程师</div>
                        </div>
                    </div>
                </a>
                <!--#9-->
                <a class="item" href="havascript:void(0)">
                    <img src="__PUBLIC__/home/images/team-9.jpg" class="img-responsive">
                    <div class="cover trans">
                        <div class="content">
                            <div class="carrer">UI Designer</div>
                            <div class="name">周松</div>
                            <div class="line"></div>
                            <div class="com">资深前端交互工程师</div>
                        </div>
                    </div>
                </a>
                <!--#10-->
                <a class="item" href="havascript:void(0)">
                    <img src="__PUBLIC__/home/images/team-10.jpg" class="img-responsive">
                    <div class="cover trans">
                        <div class="content">
                            <div class="carrer">Customer Service</div>
                            <div class="name">胡洁琼</div>
                            <div class="line"></div>
                            <div class="com">客户服务</div>
                        </div>
                    </div>
                </a>
                <!--#11-->
                <a class="item" href="havascript:void(0)">
                    <img src="__PUBLIC__/home/images/team-11.jpg" class="img-responsive">
                    <div class="cover trans">
                        <div class="content">
                            <div class="carrer">Software development</div>
                            <div class="name">许维新</div>
                            <div class="line"></div>
                            <div class="com">软件开发工程师</div>
                        </div>
                    </div>
                </a>
                <!--#12-->
                <a class="item" href="havascript:void(0)">
                    <img src="__PUBLIC__/home/images/team-12.jpg" class="img-responsive">
                    <div class="cover trans">
                        <div class="content">
                            <div class="carrer">Illustration Designer</div>
                            <div class="name">查敏</div>
                            <div class="line"></div>
                            <div class="com">高级插画设计师</div>
                        </div>
                    </div>
                </a>
                <!--#7-->
                <a class="item" href="havascript:void(0)">
                    <img src="__PUBLIC__/home/images/team-7.jpg" class="img-responsive">
                    <div class="cover trans">
                        <div class="content">
                            <div class="carrer">Senior Designer</div>
                            <div class="name">武婷婷</div>
                            <div class="line"></div>
                            <div class="com">资深平面设计师</div>
                        </div>
                    </div>
                </a>
                <!--#14-->
                <a class="item" href="havascript:void(0)">
                    <img src="__PUBLIC__/home/images/team-14.jpg" class="img-responsive">
                    <div class="cover trans">
                        <div class="content">
                            <div class="carrer">Video Editor</div>
                            <div class="name">宫鑫满</div>
                            <div class="line"></div>
                            <div class="com">视频剪辑师</div>
                        </div>
                    </div>
                </a>
                <!--#15 libo-->
                <a class="item" href="havascript:void(0)">
                    <img src="__PUBLIC__/home/images/team-16.jpg" class="img-responsive">
                    <div class="cover trans">
                        <div class="content">
                            <div class="carrer">Account Executive</div>
                            <div class="name">汪琴</div>
                            <div class="line"></div>
                            <div class="com">客户执行</div>
                        </div>
                    </div>
                </a>
                <a class="item" href="havascript:void(0)">
                    <img src="__PUBLIC__/home/images/team-15.jpg" class="img-responsive">
                    <div class="cover trans">
                        <div class="content">
                            <div class="carrer">Screenwriter</div>
                            <div class="name">李波</div>
                            <div class="line"></div>
                            <div class="com">编剧</div>
                        </div>
                    </div>
                </a>
                <a class="item" href="havascript:void(0)">
                    <img src="__PUBLIC__/home/images/black.jpg" class="img-responsive">
                    <div class="cover trans" style="opacity: 1;">
                        <div class="content">
                            <div class="carrer">Recruit</div>
                            <div class="name">招聘</div>
                            <div class="line"></div>
                            <div class="com"></div>
                        </div>
                    </div>
                </a>
            </div>
        </article>
    </section>
    <include file="Public/frbox" />
    <style type="text/css">
        .fr-box .container-box .fr_list{
            padding-top: 25px;
            padding-bottom: 25px;
        }
        .container-box:after{
            top: 0;
        }
    </style>
</block>